{% extends "base.html" %}

{% block title %}Vet Detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ vet.full_name }}</h1>
        <p>{{ vet.address1 }}</br>
        {{ vet.address2 }}</br>
        {{ vet.city_state_zip }}</p>
        <p>{{ vet.email }}</p>
        <p>{{ vet.phone }}</p>
        <p>{{ vet.website }}</p>
        <p>{{ vet.license }}</p>
    </div>
    <div class="row">
        <a href="{% url 'vets:list_vets' %}"><span class="btn btn-primary">Back to Vets List</span></a>
        <a href="{% url 'vets:edit_vet' vet.pk %}"><span class="btn btn-primary">Edit Vet</span></a>
        <a href="{% url 'vets:delete_vet' vet.pk %}" id="deleteBtn"><span class="btn btn-primary">Delete Vet</span></a>
    </div>

    <!-- Modal for delete confirmation -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Delete Vet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ vet.full_name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancelBtn" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="confirmSubmit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    
document.addEventListener('DOMContentLoaded', function () {
    const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
    const deleteButton = document.getElementById('deleteBtn');
    const confirmButton = document.getElementById('confirmSubmit');
    const cancelBtn = document.getElementById('cancelBtn');
  
    deleteButton.addEventListener('click', function (event) {
      event.preventDefault();
      const href = this.getAttribute('href');
      confirmModal.show();
      confirmButton.addEventListener('click', function () {
        window.location.href = href;
      });
    });

    cancelBtn.addEventListener('click', function () {
      confirmModal.hide();
      window.location.href = "{% url 'vets:list_vets' %}";
    });
  });
</script>
{% endblock %}